@inject LinkDataAccess dataAccess
@inject LinkTargets targets
@implements IDialogContentComponent<LinkModel>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(FontAwesome.Icon("fas fa-link"))" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical">
        <FluentTextField @bind-Value="@Content.Title" Label="Title" style="width: 100%;" />
        <FluentTextField @bind-Value="@Content.MenuName" Label="Menu Name" style="width: 100%;" />
        <FluentTextField @bind-Value="@Content.Icon" Label="Icon" style="width: 100%;" />
        <FluentNumberField @bind-Value="@Content.Order" Label="Order" style="width: 100%;" />
        <InputSelect @bind-Value="@Content.Type">
            @foreach (var t in targets.DefaultLinkTargets)
            {
                <option value=@t.Key>@t.Value.Name</option>
            }
        </InputSelect>
        <FluentSwitch @bind-Value="@Content.IsPublished" Label="Published" style="width: 100%;" />
        <FluentTextField @bind-Value="@Content.URL" Label="URL" style="width: 100%;" />
    </FluentStack>
</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    @if (String.IsNullOrEmpty(Content.Id))
    {
        <FluentButton Appearance="Appearance.Accent" OnClick="@Create">Create</FluentButton>
    }
    else
    {
        <FluentButton Appearance="Appearance.Accent" OnClick="@Update">Update</FluentButton>
    }
    <FluentButton Appearance="Appearance.Neutral" OnClick="@Cancel">Cancel</FluentButton>
</FluentDialogFooter>

@code {
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;
    [Parameter]
    public LinkModel Content { get; set; } = default!;
    List<Option<int>> TargeOptions = new();

    protected override async Task OnInitializedAsync()
    {
        
    }

    private void Cancel() => Dialog.CancelAsync();

    private async void Update()
    {
        await dataAccess.Update(Content);
        await Dialog.CloseAsync();
    }

    private async void Create()
    {
        await dataAccess.Insert(Content);
        await Dialog.CloseAsync();
    }
}
