@page "/admin/days"
@attribute [Authorize(Roles = "Admin")]
@inject DayOfCodeDataAccess dayData
@rendermode InteractiveServer

<MudDialogProvider />
<br />
<h3>Days</h3>
<br />
<MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="e => Create(e)">Create</MudButton>
<br />
<MudTable Items="@days" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Day</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Goal</MudTh>
        <MudTh>Result</MudTh>
        <MudTh>View Count</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Day">@context.Day</MudTd>
        <MudTd DataLabel="Date">@context.Date</MudTd>
        <MudTd DataLabel="Goal">@context.Goal</MudTd>
        <MudTd DataLabel="Result">@context.Result</MudTd>
        <MudTd DataLabel="View Count">@context.ViewCount</MudTd>
        <MudTd DataLabel="Actions">
            <MudButton Variant="Variant.Text" Color="Color.Info" OnClick="e => Update(e, context.Id)">Edit</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="e => Delete(e, context.Id)">Delete</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    [Inject] private IDialogService DialogService { get; set; }
    private IEnumerable<DayOfCodeModel>? days { get; set; }
    private DayOfCodeModel newDay = new DayOfCodeModel();
    private DateTime? newDate { get; set; }
    private bool isUpdate = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
        newDate = DateTime.Now;
    }

    private async Task RefreshData()
    {
        days = await dayData.GetDays();
        newDay.Day = days.Count();
        newDay.Date = DateOnly.FromDateTime(DateTime.Now);
        newDay.Goal = days.FirstOrDefault().Tomorrow;
    }

    private async Task CreateDay()
    {
        newDay.Date = DateOnly.FromDateTime(newDate.Value);
        await dayData.Insert(newDay);
        newDay = new DayOfCodeModel();
        await RefreshData();
    }

    private async Task UpdateDay()
    {
        newDay.Date = DateOnly.FromDateTime(newDate.Value);
        await dayData.Update(newDay);
        newDay = new DayOfCodeModel();
        isUpdate = false;
        await RefreshData();
    }

    private async Task CancelUpdate()
    {
        newDay = new DayOfCodeModel();
        isUpdate = false;
        await RefreshData();
    }

    private async Task EditDay(MouseEventArgs e, string id)
    {
        newDay = days.FirstOrDefault(d => d.Id == id);
        newDate = DateTime.Parse(newDay.Date.ToString());
        isUpdate = true;
    }

    private async void Delete(MouseEventArgs e, string id)
    {
        bool? result = await DialogService.ShowMessageBox(
        "Warning",
        "Deleting can not be undone!",
        yesText: "Delete!", cancelText: "Cancel");
        //state = result == null ? "Canceled" : "Deleted!";
        if (result == true)
        {
            await dayData.Delete(id);
            await RefreshData();
        }
        StateHasChanged();
    }

    private async Task Create(MouseEventArgs e)
    {
        DayOfCodeModel model = new();
        model.Day = days.Count();
        model.Date = DateOnly.FromDateTime(DateTime.Now);
        model.Goal = days.FirstOrDefault().Tomorrow;
        DialogOptions options = new() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<DayDialog> { { x => x.day, model } };

        var dialog = DialogService.Show<DayDialog>("Create Day", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await RefreshData();
        }
    }

    private async Task Update(MouseEventArgs e, string cbId)
    {
        DayOfCodeModel model = await dayData.GetId(cbId);
        DialogOptions options = new() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var parameters = new DialogParameters<DayDialog> { { x => x.day, model } };

        var dialog = await DialogService.ShowAsync<DayDialog>("Update Day", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await RefreshData();
        }
    }
}