@if (rewind != null)
{
    <FluentCard Height="auto">
        <FluentNavLink Href="@($"/rewind/{rewind.Year}/{rewind.Month}/{rewind.Slug}")">
            <h4>@rewind.Date.ToString("MMMM yyyy") - @rewind.Title</h4>
        </FluentNavLink>
        <FluentCard Height="auto">
        @((MarkupString)Markdown.ParseHtmlString(rewind.Content).ToString())
        </FluentCard>
        <br />
        <FluentNavLink Href="@($"/rewind/{rewind.Year}/{rewind.Month}/{rewind.Slug}")">
            <h6>Read More...</h6>
        </FluentNavLink>
    </FluentCard>
}

@code {
    [Parameter]
    public RewindModel rewind { get; set; }

    protected override void OnInitialized()
    {

    }

}
