@if (rewind != null)
{
    <FluentCard Height="auto">
        <FluentNavLink Href="@($"/rewind/{rewind.Year}/{rewind.Month}/{rewind.Slug}")">
            <h4>@rewind.Date.ToString("MMMM yyyy") - @rewind.Title</h4>
        </FluentNavLink>
        <FluentCard Height="auto">
            @((MarkupString)MarkdownService.Parse(rewind.Content))
        </FluentCard>
        <br />
        <FluentAnchor Href="@($"/rewind/{rewind.Year}/{rewind.Month}/{rewind.Slug}")" Appearance="Appearance.Accent" IconEnd="@(FontAwesome.Icon("fas fa-book-skull"))">
            Read More
        </FluentAnchor>
    </FluentCard>
}

@code {
    [Parameter]
    public RewindModel rewind { get; set; }

    protected override void OnInitialized()
    {

    }

}
